body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:#000000;
}

#centered-button {
    text-align: center;
}

#my-button {
    padding: 10px 20px;
    font-size: 16px;
}