body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
}

#drinking {
    display: none;
    overflow: hidden;
    object-position: right bottom;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

#drinking.rotate {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hideCursor {
    cursor: none;
}