html {
    background: #201c1c;
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color:#201c1c;
}

#centered-button {
    text-align: center;
}

#my-button {
    padding: 10px 20px;
    font-size: 16px;
}

.hideCursor {
    cursor: none;
}

#textbox {
    width: 90%;
    display: table;
    margin: auto;
    text-align: center;
}

.message-form {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.message-input {
    display: table-cell;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 24px;
    font-family: monospace;
    letter-spacing: 1px;
}

#loading-container.loading {
    width: 40px;
    height: 40px;
    border: 4px solid white;
    border-top: 4px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: spin 2s linear infinite;
}

.rotate {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}