body {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    line-height: 28px;
    overflow: auto;
}

h1 {
    font-size: 40px;
    line-height: 60px;
}

h1,h2 {
    font-weight: 700;
}

h2 {
    font-size: 32px;
    line-height: 48px;
}

h3 {
    font-size: 24px;
    line-height: 36px;
}

h3,h4 {
    font-weight: 700;
}

h4 {
    font-size: 20px;
    line-height: 30px;
}

h5 {
    font-size: 16px;
}

h5,h6 {
    line-height: 24px;
    font-weight: 700;
}

h6 {
    font-size: cacl(16px);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

a:hover,a[rel~=nofollow] {
    text-decoration: underline;
}

a[rel~=nofollow] {
    color: #0452a5;
}

a[rel~=nofollow]:hover {
    text-decoration: none;
}

.container {
    position: relative;
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}