@import "tailwindcss";
@font-face { font-family: TT-Backwards-Sans-Bold; src: url('/fonts/TT Backwards Sans Trial Bold.otf'); } 
@font-face { font-family: Bold; src: url('/fonts/bold_pw.ttf');}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    letter-spacing: -0.064em;
    font-family: 'Nunito', sans-serif;
}

.flex {
    justify-content: center;
    align-items: center;
}

.logo {
    height: 15em;
    padding: 0.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo.temp:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.triangle {
    width: 0;
    height: 0;
    rotate: 180deg;
    border-top-width: 640px;
    border-top-style: solid;
    border-top-color: transparent;
    border-right-width: 450px;
    border-right-style: solid;
    border-right-color: pink;
}

.triangle-two {
    width: 0;
    height: 0;
    rotate: 270deg;
    border-top-width: 58px;
    border-top-style: solid;
    border-top-color: transparent;
    border-right-width: 58px;
    border-right-style: solid;
    border-right-color: oklch(0.712 0.194 13.428);
}


.after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "|";
    color: white;
}

.namesAni {
    display: inline-block;
    font-size: 4.5em;
    color: rgb(235, 26, 172);
}

.cursor-blink {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.side-buttons {
    background-color: palevioletred;
}

.side-buttons:hover {
    background-color: lightcoral;
}

.cloud {
    height: 180px;
    aspect-ratio: 1.8;
    --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
    mask: var(--g) 100% 100%/30% 60%,var(--g) 70% 0/50% 100%,var(--g) 0 100%/36% 68%,var(--g) 27% 18%/26% 40%,linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
    background: #269af2;
}