@import "tailwindcss";

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    letter-spacing: -0.064em;
    font-family: 'Nunito', sans-serif;
}

.flex {
    justify-content: center;
    align-items: center;
}

.logo {
    height: 15em;
    padding: 0.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo.temp:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "|";
    color: white;
}

.namesAni {
    display: inline-block;
    font-size: 5em;
    color: rgb(235, 26, 172);
}

.cursor-blink {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}